<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Income</title>
</head>
<body>
<h1>Add Income</h1>
<form th:action="@{/income}" modelAttribute="incomeForm" method="post">
    <label for="description">Description</label>:
    <input type="text" id="description" name="description" autofocus="autofocus" /> <br />

    <label for="amount">Amount</label>:
    <input type="number" id="amount" name="amount" min="1" step="any" /> <br />

    <input type="submit" value="Save" />
</form>
</body>
</html>