<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Outcome</title>
</head>
<body>
<h1>Add Outcome</h1>
<form th:action="@{/outcome}" modelAttribute="outcomeForm" method="post">
    <label for="description">Description</label>:
    <input type="text" id="description" name="description" autofocus="autofocus" /> <br />

    <label for="amount">Amount</label>:
    <input type="number" id="amount" name="amount" min="1" step="any" /> <br />

    <input type="submit" value="Add" />
</form>
</body>
</html>