<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resgistration</title>
</head>
<body>
<h1>Resgistration page</h1>
<form th:action="@{/registration}" modelAttribute="userForm" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <label for="passwordConfirm">Password (Confirm)</label>:
    <input type="password" id="passwordConfirm" name="passwordConfirm" /> <br />
    <input type="submit" value="Register" />
</form>
</body>
</html>