<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Transactions</title>
</head>
<body>
    <div layout:fragment="content" class="container mb-5">
        <div class="row mb-5">
            <div class="col">
                <h2>Income</h2>
                <hr/>
                <form th:action="@{/income}" modelAttribute="incomeForm" method="post">
                    <div class="form-group">
                        <label>Description</label>:
                        <input type="text" class="form-control" name="description" autofocus="autofocus" />
                    </div>
                    <div class="form-group">
                        <label>Amount</label>:
                        <input type="number" class="form-control" name="amount" min="1" step="any" />
                    </div>
                    <button type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
            <div class="col">
                <h2>Outcome</h2>
                <hr/>
                <form th:action="@{/outcome}" modelAttribute="outcomeForm" method="post">
                    <div class="form-group">
                        <label>Description</label>:
                        <input type="text" class="form-control" name="description" autofocus="autofocus" />
                    </div>
                    <div class="form-group">
                        <label>Amount</label>:
                        <input type="number" class="form-control" name="amount" min="1" step="any" />
                    </div>
                    <button type="submit" class="btn btn-danger">Add</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col md-3 mb-1 d-flex p-0">
                <div class="dropdown ml-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/transactions}">All</a>
                        <a class="dropdown-item" th:href="@{/transactions(filter='Income')}">Incomes</a>
                        <a class="dropdown-item" th:href="@{/transactions(filter='Outcome')}">Outcomes</a>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="transaction: ${transactions}">
                        <td th:text="${transaction.getId()}" />
                        <td th:text="${transaction.getCreatedAt()}" />
                        <td th:text="${transaction.getType()}" />
                        <td th:text="${transaction.getDescription()}" />
                        <td th:if="${transaction.getAmount() > 0}" class="text-success" th:text="${transaction.getAmount()}" />
                        <td th:if="${transaction.getAmount() < 0}" class="text-danger" th:text="${transaction.getAmount()}" />
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">Total :</th>
                        <td th:if="${sum > 0}" class="text-white bg-success" th:text="${sum}" />
                        <td th:if="${sum < 0}" class="text-white bg-danger" th:text="${sum}" />
                        <td th:if="${sum == 0}" class="text-white bg-info" th:text="${sum}" />
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>