<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
</head>
<body>

<h2>Transaction list</h2>

<table>
    <tr>
        <th>#</th>
        <th>Description</th>
        <th>Type</th>
        <th>Amount</th>
    </tr>
    <tr th:each="transaction: ${transactions}">
        <td th:text="${transaction.id}" />
        <td th:text="${transaction.description}" />
        <td th:text="${transaction.type}" />
        <td th:text="${transaction.amount}" />
    </tr>
</table>

</body>
</html>